.containeer {

border-radius: 10px;
background-color: rgb(224, 224, 224);
width: 260px;
height: 300px;
margin: 10px;

.ps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ps > p {
    margin-bottom: 12px;
}

   .lini {
        border: 0.5px solid black;
        box-shadow: 0px 0px 2px 0px dimgray;
        width: 100%;
        margin-bottom: 35px;
    }


.card {
    display: flex;
    flex-direction:row ;
    padding: 10px;
    

 
 
.check {
    margin-right: 40px;
}
   .demo {
        width: 130px;
        height: 120px;
        margin-top: 20px;
    }
}

}