.pixmae {
display: flex;
flex-direction: column;

.pixcontainer {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px !important;

.grupopix1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500PX;
    border: 1px solid black;
    height: 200px;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #666;

    h4 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 30px;
    }

    .pixazul {
        width: 350px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        color: white;
       padding: 10px;
        background-color: #309CFF;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


.grupopix2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500PX;
    border: 1px solid black;
    height: 380px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #666;
    margin-bottom: 100px;


    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .qrpix {
        height: 160px;
        margin-bottom: 20px;
    }

    button {
        background-color: #309CFF;
        padding: 12px;
        width: 280px;
        border: none;
        border-radius: 10px ;
        color: white;
        font-size: 20px;
        outline: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

}


}