.mae-endereco {
display: flex;
flex-direction: column;


.botao-endereco {
    width: 140px;
    border: none;
    background-color: #309CFF;
    color: white;
    margin-left: 995px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 50px;
}



h1 {
    margin-left: 550px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.container-endereco {
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
    width: 110vh;
    height: 50vh;
    margin-left: 125px;
    border-radius: 10px;
    padding: 110px 10px 10px 70px;

.container-separa {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}


    .label-endereco {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        label {
            margin-right: 20px;
            margin-bottom: 65px;
        }
    }
}

.input-endereco {
    display: flex;
    flex-direction: column
    ;

   

    input {
        outline: none;
        padding: 7px;
        margin-bottom: 50px;
        border-radius: 4px;
        border: 1px solid black;
    }
}



}